/* code for responsiveness */

@media (max-width: 390px) {
  .banner {
    width: 100%;
    flex-direction: column;
  }
}

nav {
    border-bottom: 5px #EDE2C4;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111D29;
    list-style-type: none;
    margin: 2;
    padding: 0;
    overflow: hidden;
}

ul li {
  float: left;
}

.banner {
    position: relative;
    width: 100%;
    align-content: center;
}

.banner img {
    width: 100%;
    display: block;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11vmin;
    margin: auto;
    padding-bottom: 15%;
}

.banner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vmin;
    margin: auto;
}

button {
    margin: auto;
    padding: 1em 2em;
    background-color: #111D29;
    color: #EDE2C4;
    border-style: solid;
    border-color: #EDE2C4;
    border-radius: 2em;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-size: 2vmin;
}

.banner button {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-display {
    display: flex;
    flex-direction: row;
}

.flex-display img {
    width: 100%;
}

/* code for responsiveness */

@media (max-width: 600px) {
  .flex-display {
    flex-direction: column;
  }
}

figure {
    text-align: center;
    align-content: center;
}

figure > p {
    font-weight: 900;
}

figure img {
    border-radius: 2em;
}
