.container {
    width: 1200px;
    display: flex;
}

@media (max-width: 500px) {
    .container {
    width: 100%;
    flex-direction: column;
}
}

/* code above supposed to be implementation for responsiveness but might change things ups */

.banner {
    position: relative;
    width: 100%;
    align-content: center;
}

.banner img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em 2em;
    background-color: #111D29;
    color: #EDE2C4;
    border-style: solid;
    border-color: #EDE2C4;
    border-radius: 2em;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-size: 1em;
}