h1 {
    font-family: 'Sterion', sans-serif;
    font-style: italic;
}

h2 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #EDE2C4;
}

h3 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

p {
    font-family: "Instrument Sans", sans-serif;
    color: white;
}

.footer-ending h2 {
    font-family: 'Sterion', sans-serif;
    font-style: italic;
    color: white;
}

.center-align h2 {
    font-family: 'Sterion', sans-serif;
    font-style: italic;
}

th {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #EDE2C4;
}

td {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: white;
}

.double-content > h2 {
    color: white;
}

form h3 {
    color: #EDE2C4;
}

input,
button,
select,
textarea {
    font-family: "Instrument Sans", sans-serif;
}

label {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: #EDE2C4;
}

.product-info > h2 {
    color: var(--other-elements-color);
}

.quantity-cue h3 {
    color: var(--main-text-color);
}